<footer class="footer">
  <div class="footer__logo">
    <h2 class="footer__logo__header">Derma Care</h2>
    <p class="footer__logo__text">© Derma Care 2020. Все права защищены</p>
  </div>
  <div class="footer__navigation">
    <ul class="footer__navigation__list">
      <li class="footer__navigation__list__item">О магазине</li>
      <li class="footer__navigation__list__item">Доставка и Оплата</li>
      <li class="footer__navigation__list__item">Бренды</li>
      <li class="footer__navigation__list__item">Контакты</li>
    </ul>
  </div>
</footer>
