<div class="header">
  <nav class="header__navigation">
    <img class="header__burger" src="./assets/img/burger.svg" alt="" />
    <div class="header__logo">
      <img class="header__logo__img" src="./assets/img/logo.svg" alt="" />
      <span class="header__logo__text">Каталог</span>
    </div>
    <div class="header__mobile__logo">
      <h2>Derma Care</h2>
    </div>
    <div class="menu">
      <ul class="menu__navigation">
        <li class="menu__navigation__list">О магазине</li>
        <li class="menu__navigation__list">Доставка и оплата</li>
        <li class="menu__navigation__list">Derma Care</li>
        <li class="menu__navigation__list">Бренды</li>
        <li class="menu__navigation__list">Контакты</li>
      </ul>
    </div>
    <div class="search">
      <img class="search__icon" src="./assets/img/search.svg" alt="" />
      <div class="search__basket">
        <img
          class="search__basket__logo"
          src="./assets/img/basket.svg"
          alt=""
        />
        <img
          class="search__basket__num"
          src="./assets/img/basket_num.svg"
          alt=""
        />
      </div>
      <img class="search__face" src="./assets/img/search_icon.svg" alt="" />
    </div>
  </nav>
</div>
